<%= render "shared/navbar" %>

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="my-5">
        <h5 class="">Cena 1 - INT. Em algum lugar de Pinheiros - DIA/NOITE</h5>
      </div>
    </div>
  </div>
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card-small">
          <% if cocktail.photo.present? %>
            <div class="card-small-img" style=" background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(<%= cl_image_path cocktail.photo.key %>)"></div>
          <% else %>
            <div class="card-small-img" style=" background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(<%= image_tag 'Martini_007.jpg' %>)"></div>
          <% end %>
          <div class="card-small-content ">
            <div class="col-12 ">
              <div class="row">
                <h5 class=""> <%= cocktail.name %> </h5> 
              </div>
              <div class="row ">
                <%= link_to "Recipe", cocktail_path(cocktail)  %>
              </div>
              <div class="row ">
                <a href="<%= cocktail.link_spotify %>" target= "_blank"> Playlist </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>  

  </div>
  <div class="box-comments" >
    <h5>Comentários (nome/ nacionanlidade)</h5>
    <div class="row w-100 " >
      <% @comments.each do |comment| %>
        <div class="col-sm-12 col-md-6 col-lg-4 card-comment " >
          <h6><strong><%= "#{comment.name} - #{comment.nacionality}"%></strong></h6>
          <h6><%= comment.comment %></h6>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render "shared/footer" %>

<%# dia
100b0c - background card


noite
44060b - background card %>