<%= render "shared/navbar" %>

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="container m-5 text-center">
        <h1 class="">Cine and Cocktails</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-4">
        <div class="card-small">
          <div class="card-small-img" style=" background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(<%= cl_image_path cocktail.photo.key %>)"></div>
          <div class="card-small-content">
            <h5 class="card-title text-light"> <%= cocktail.name %> </h5>
            <%= link_to "Recipe", cocktail_path(cocktail)  %>
          </div>
        </div>
      </div>
    <% end %>  
  </div>
</div>

<%= render "shared/footer" %>

<%# dia
100b0c - background card


noite
44060b - background card %>