<%= render "shared/navbar" %>

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="my-5">
        <h5 class="">Cena 1 - INT. Somewhere in Pinheiros - DAY/NIGHT</h5>
      </div>
    </div>
  </div>
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card-small">
          <% if cocktail.photo.present? %>
            <div class="card-small-img" style=" background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(<%= cl_image_path cocktail.photo.key %>)"></div>
          <% else %>
            <div class="card-small-img" style=" background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(<%= image_tag 'Martini_007.jpg' %>)"></div>
          <% end %>
          <div class="card-small-content ">
            <div class="col-12 ">
              <div class="row">
                <h5 class=""> <%= cocktail.name %> </h5> 
              </div>
              <div class="row ">
                <%= link_to "Recipe", cocktail_path(cocktail)  %>
              </div>
              <div class="row ">
                <a href="<%= cocktail.link_spotify %>" target= "_blank"> Playlist </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>  

  </div>
  <div class="box-comments" >
    <span style="font-size: 23px"> Experiences | </span> <p id="">Tell yours</p> 
    <%# <%= link_to "Tell yours", new_comment_path, id: "new-comment", class: "btn-comment", style: "text-decoration: none" %> 
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" id="comment">Tell yours</button>



    <div class="row w-100 " >
      <% @comments.each do |comment| %>
        <div class="col-sm-12 col-md-6 col-lg-4 card-comment " >
          <h6><strong><%= "#{comment.name} - #{comment.nacionality}"%></strong></h6>
          <h6><%= comment.comment %></h6>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render "shared/footer" %>

  <%# POP-UP ------------------------ %>
  <%= render 'shared/modal' %>
  <script>
  const comment = document.getElementById("comment");
    comment.addEventListener("click", (event) => {
      <%# console.log(event);
      console.log(event.currentTarget); %>
      $('#exampleModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var recipient = button.data('whatever') // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        modal.find('.modal-title').text('New message to ' + recipient)
        modal.find('.modal-body input').val(recipient)
      })
    $(document).ready(function() {  
      $('#exampleModal').modal("show")

    });
      console.log("Ready!"); 
    });




  </script>




  <%# const initMenu = () => {
  $("#new-comment").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });
} %>


