<%= render "shared/navbar" %>

<div class="container mt-5">
  <div class="row">
    <div class="col-5">
      <div class="card-new">
        <div>
          <h3>Create your Cocktail</h3>
        </div>
      </div>
    </div>
    <div class="col-7 p-3 bg-primary">
      <h2 class="font-weight-bold">Cocktail</h2>
      <%= simple_form_for [@cocktail] do |f| %>
        <%= f.input :name %>
        <%= f.input :photo, as: :file %>
        <button class = "btn btn-secondary p-1 bg-info color-warning" ><%= f.submit "Create your cocktail!" %> </button>
      <% end %>
    </div>
  </div>
</div>

<%= render "shared/footer" %>
