<%= render "shared/navbar" %>
<div class="container mt-5 text-center">
  <h1><%= @cocktail.name %></h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-3">
      <div class="card-deck" style="width: 18rem;">
        <div class="card" >
          <%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill %>
          <%= link_to "Add doses", new_cocktail_dose_path(@cocktail), class: "btn btn-danger" %>
          <%= link_to "Edit Cocktail", edit_cocktail_path(@cocktail), class: "btn btn-danger" %>
        </div>
      </div>
    </div>
    <div class="col-9">
      <div class="card-body">
        <% @cocktail.doses.each do |dose| %>
          <div class="row border">
            <div class="col-2 my-1 border-right">
              <%= dose.description %>
            </div>
            <div class="col-8 my-1 ">
              <%= dose.ingredient.name %>
            </div>
            <div class="col-2 my-1 ">
              <%# <%= link_to "Delete", dose_path(@dose), method: :delete, class: "btn btn-secondary", data: { confirm: 'Are you sure?'}  %>
            </div>
          </div> 
        <% end %>
      </div>
    </div>
  </div>
</div>
