<div class="modal fade" id="newComment" tabindex="-1" role="dialog" aria-labelledby="newCommentLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newCommentLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body ">
        <%= form_for Comment.new, :html => {class:"form-horizontal"} do |f| %>
          <div class="row">
            <div class="col-4">
              <span>First name: </span>
            </div>
            <div class="col-6">
              <%=  f.text_field :name %> <br />
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <span>Nacionality: </span>
            </div>
            <div class="col-6">
              <%=  f.text_field :nacionality %> <br />
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <span>E-mail: </span>
            </div>
            <div class="col-6">
              <%=  f.text_field :email %> <br />
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <span>Comment: </span>
            </div>
            <div class="col-6">
              <%=  f.text_area :comment %> <br />
            </div>
          </div>
          <%= f.submit class: 'btn btn-primary btn-sm mb-3 w-100' %>
        <% end %>
      </div>  

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>
        <%# <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Recipient:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form> %>